.Select {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 13px;
  cursor: pointer;
  flex-shrink: 0;

  @media (hover: hover) {
    &:hover > :first-child {
      opacity: 0.75;
    }
  }
}

.Value {
  font-weight: 700;
}

.SelectIcon {
  color: white;

  &[data-popup-open] {
    transform: rotate(180deg);
  }
}

.Popup {
  min-width: 255px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 40px -7px hsl(230 31% 31% / 35.05%);
}

.Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  & + & {
    border-top: 1px solid hsl(231 33% 34% / 15%);
  }

  &[data-highlighted] {
    color: var(--color-primary-500);
  }
}
